
    input.error 
 	{
      /*background: red;*/
       color:#b6afaf;
    }
    label.error 
    {
 
      font-size:14px;
      /*background-color:#cc0000;*/
      color:red;
      padding:3px;
      margin-left:5px;
     -moz-border-radius: 8px;
     -webkit-border-radius: 8px; 
    }