<div class="pages">
          <div class="page navbar-fixed">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                        <a href="#" class="link icon-only open-panel">
                            <i class="icon icon-bars"></i>
                        </a>
                    </div>
                <div class="center">E-Meeting</div>
              </div>                 
            </div>
                           
              <a id="b_add_not" href="add_notulen.html" class="floating-button color-purple item-link"><i class="icon icon-plus"></i></a>
              
              
            <div class="page-content">
               
                <div class="list-block list-group media-list"> 
                    <div class="content-block-title color-indigo">Daftar Meeting</div>                    
  <!-- First group-->
  <!--<div class="list-group">-->
    <ul>
      <li class="list-group-title">Oktober 2016</li>
      <li>
        <a class="item-link item-content b_edit">  
            <div class="item-media color-red">29 
        </div>
        <div class="item-inner">
          <div class="item-title-row">   
            <div class="item-title">Item title1</div>
            <div class="item-after">08.00 WIB</div>
          </div>
             <div class="item-subtitle color-green">Lead : Nama Lead1</div>
        </div>
        </a>
      </li>
    <li>
        <a class="item-link item-content b_edit"> 
        <div class="item-media color-red">10</div>
        <div class="item-inner">
         <div class="item-title-row">     
          <div class="item-title">Item title2</div>
          <div class="item-after">13.00 WIB</div>
         </div>
             <div class="item-subtitle color-green">Lead : Nama Lead2</div>   
        </div>
        </a>
    </li>
       
    </ul>
  <!--</div>-->
 
                 </div> 
          </div>
        </div>
      </div>
