               <div data-page="home" class="page toolbar-fixed navbar-fixed">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="left">
                                <a href="#" class="link icon-only open-panel">
                                    <i class="icon icon-bars"></i>
                                </a>
                            </div>
                            <div class="center">E-Meeting</div>
                        </div> 
                    </div>
                    <div class="toolbar tabbar">
                        <div class="toolbar-inner">
                            <a href="#tab1" class="active tab-link">Tab 1</a>
                            <a href="#tab2" class="tab-link">Tab 2</a>
                            <a href="#tab3" class="tab-link">Tab 3</a>
                        </div>
                    </div>
                    <div class="tabs-swipeable-wrap">
                        <div class="tabs">
                            <div id="tab1" class="page-content tab active">
                            
                                    <div class="list-block list-group media-list"> 
                                        <div class="content-block-title color-indigo">Daftar Meeting</div>                    
                                        <!-- First group-->
                                        <!--<div class="list-group">-->
                                        <ul>
                                            <li class="list-group-title">Oktober 2016</li>
                                            <li>
                                                <a class="item-link item-content b_edit">  
                                                    <div class="item-media color-red">29 
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">   
                                                            <div class="item-title">Item title1</div>
                                                            <div class="item-after">08.00 WIB</div>
                                                        </div>
                                                        <div class="item-subtitle color-green">Lead : Nama Lead1</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="item-link item-content b_edit"> 
                                                    <div class="item-media color-red">10</div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">     
                                                            <div class="item-title">Item title2</div>
                                                            <div class="item-after">13.00 WIB</div>
                                                        </div>
                                                        <div class="item-subtitle color-green">Lead : Nama Lead2</div>   
                                                    </div>
                                                </a>
                                            </li>

                                        </ul>
                                        <!--</div>-->

                                    </div> 
                               
                            </div>
                            <div id="tab2" class="page-content tab">
                                <div class="content-block">
                                    <p>This is tab 2 content</p>
                                    <p>Ut ac lobortis lacus, non pellentesque arcu. Quisque sodales sapien malesuada, condimentum nunc at, viverra lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eu pulvinar turpis, id tristique quam. Aenean venenatis molestie diam, sit amet condimentum nisl pretium id. Donec diam tortor, mollis in vehicula id, vehicula consectetur nulla. Quisque posuere rutrum mauris, eu rutrum turpis blandit at. Proin volutpat tortor sit amet metus porttitor accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut dapibus posuere dictum.</p>
                                    <p>Fusce luctus turpis nunc, id porta orci blandit eget. Aenean sodales quam nec diam varius, in ornare ipsum condimentum. Aenean eleifend, nulla sit amet volutpat adipiscing, ligula nulla pharetra risus, vitae consequat leo tortor eu nunc. Vivamus at fringilla metus. Duis neque lectus, sagittis in volutpat a, pretium vel turpis. Nam accumsan auctor libero, quis sodales felis faucibus quis. Etiam vestibulum sed nisl vel aliquet. Aliquam pellentesque leo a lacus ultricies scelerisque. Vestibulum vestibulum fermentum tincidunt. Proin eleifend metus non quam pretium, eu vehicula ipsum egestas. Nam eget nibh enim. Etiam sem leo, pellentesque a elit vel, egestas rhoncus enim. Morbi ultricies adipiscing tortor, vitae condimentum lacus hendrerit nec. Phasellus laoreet leo quis purus elementum, ut fringilla justo eleifend. Nunc ultricies a sapien vitae auctor. Aliquam id erat elementum, laoreet est et, dapibus ligula.</p>
                                </div>
                            </div>
                            <div id="tab3" class="page-content tab">
                                <div class="content-block">
                                    <p>This is tab 3 content</p>
                                    <p>Nulla gravida libero eget lobortis iaculis. In sed elit eu nibh adipiscing faucibus. Sed ac accumsan lacus. In ut diam quis turpis fringilla volutpat. In ultrices dignissim consequat. Cras pretium tortor et lorem condimentum posuere. Nulla facilisi. Suspendisse pretium egestas lacus ac laoreet. Mauris rhoncus quis ipsum quis tristique. Vivamus ultricies urna quis nunc egestas, in euismod turpis fringilla. Nam tellus massa, vehicula eu sapien non, dapibus tempor lorem. Fusce placerat orci arcu, eu dignissim enim porttitor vel. Nullam porttitor vel dolor sed feugiat. Suspendisse potenti. Maecenas ac mattis odio. Sed vel ultricies lacus, sed posuere libero.</p>
                                    <p>Nulla gravida libero eget lobortis iaculis. In sed elit eu nibh adipiscing faucibus. Sed ac accumsan lacus. In ut diam quis turpis fringilla volutpat. In ultrices dignissim consequat. Cras pretium tortor et lorem condimentum posuere. Nulla facilisi. Suspendisse pretium egestas lacus ac laoreet. Mauris rhoncus quis ipsum quis tristique. Vivamus ultricies urna quis nunc egestas, in euismod turpis fringilla. Nam tellus massa, vehicula eu sapien non, dapibus tempor lorem. Fusce placerat orci arcu, eu dignissim enim porttitor vel. Nullam porttitor vel dolor sed feugiat. Suspendisse potenti. Maecenas ac mattis odio. Sed vel ultricies lacus, sed posuere libero.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


