<div data-page="edit_notulen" class="page toolbar-fixed navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" id="b_back" class="back link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">E-Meeting</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <a id="b_tambah" href="#" class="floating-button color-purple item-link"><i class="icon icon-plus"></i></a>
    <!-- Search Bar -->
    <form data-search-list=".list-block-search" data-search-in=".item-title, .pic, .item-after, .subtopic, .keterangan" class="searchbar searchbar-init">
        <div class="searchbar-input">
            <input type="search" placeholder="Cari Hasil Meeting"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel">Cancel</a>
    </form>

    <!-- Search Bar overlay -->
    <div class="searchbar-overlay"></div>


    <div class="page-content">  

        <div class="list-block accordion-list">
            <ul>
                <li class="accordion-item">
                    <a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">Detail Meeting</div>
                        </div></a>
                    <div class="accordion-item-content">

                        <!--detail-->
  <div class="content-block">
                                <div class="row">
                                    <div class="col-100 color-red"><i class="fa fa-user color-red" aria-hidden="true"></i>&nbsp;Lead
                                        <div class="row color-black border-lightgreen garis">
                                            Nama Lead
                                        </div>
                                    </div>                           
                                </div>
                                <div class="row">
                                    <div class="col-100 color-red"><i class="fa fa-calendar color-red" aria-hidden="true"></i>&nbsp;Hari, Tanggal
                                        <div class="row color-black border-lightgreen garis">
                                            Kamis, 12 Oktober 2016
                                        </div>
                                    </div>                           
                                </div>   
                                <div class="row">
                                    <div class="col-100 color-red"><i class="fa fa-hourglass-half color-red" aria-hidden="true"></i>&nbsp;Waktu
                                        <div class="row color-black border-lightgreen garis">
                                            10.30 s/d 12.00
                                        </div>
                                    </div>                           
                                </div>
                                <div class="row">
                                    <div class="col-100 color-red"><i class="fa fa-map-marker color-red" aria-hidden="true"></i>&nbsp;Tempat
                                        <div class="row color-black border-lightgreen garis">
                                            Gedung A
                                        </div>
                                    </div>                           
                                </div>
                                <div class="row">
                                    <div class="col-100 color-red"><i class="fa fa-file-text-o color-red" aria-hidden="true"></i>&nbsp;Topic
                                        <div class="row color-black border-lightgreen garis">
                                            Hitung dan sepakati anggaran yang dibutuhkan
                                        </div>
                                    </div>                           
                                </div>        
      
                            </div>
                        <!--end detail-->


                    </div>
                </li> 
            </ul>    
        </div> 

        <div class="content-block-title color-green"><b>Hasil Meeting</b></div>
        <!-- This block will be displayed if nothing found -->
        <div class="content-block searchbar-not-found">
            <div class="content-block-inner color-red">Nothing found</div>
        </div>

        <div class="list-block list-block-search searchbar-found">
            <ul id="div_rapat">
                <li class="accordion-item swipeout">
                    <a href="#" class="item-content item-link swipeout-content">
                        <div class="item-inner awal">
                            <div class="item-title color-indigo"><i class="fa fa-toggle-right color-indigo" aria-hidden="true"></i>&nbsp;Hitung dan sepakati anggaran yang dibutuhkan</div>
                            <div class="item-after">2016-11-15</div>
                        </div></a>        
                    <div class="accordion-item-content swipeout-content">
                        <div class="content-block">
                            <div class="content-block">
                                <div class="row">
                                    <div class="col-100 color-red">Sub Topic
                                        <div class="row color-black border-lightblue subtopic garis">
                                            Hitung dan sepakati anggaran yang dibutuhkan
                                        </div>
                                    </div>                           
                                </div>
                                <div class="row">
                                    <div class="col-100 color-red">PIC
                                        <div class="row color-black border-lightblue pic garis">
                                            Nama PIC
                                        </div>
                                    </div>                           
                                </div>   
                                <div class="row">
                                    <div class="col-100 color-red">Keterangan
                                        <div class="row color-black border-lightblue keterangan garis">
                                            -
                                        </div>
                                    </div>                           
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swipeout-actions-right">
                        <input type="hidden" value="1" class="unix_id">
                        <a href="#" class="action1 bg-orange b_edit2">Edit</a>
                        <a href="#" class="swipeout-delete b_hapus2" data-confirm="Apakah Anda yakin ingin menghapus?" data-confirm-title="Hapus?">Hapus</a>
                    </div>
                </li>

            </ul>
        </div> 

    </div>    

    <!-- tambah Popup -->
    <div class="popup popup-tambah">
        <div class="content-block">
            <p class="color-indigo">Form Tambah</p>
            <div class="list-block inputs-list">
                <ul>
                    <form id="f_tambah_sub_topic">
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-tag fa-2x color-indigo" aria-hidden="true"></i></div>
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">Sub Topic</div>
                                    <div class="item-input">
                                        <textarea class="resizable" id="subtopic2" name="subtopic2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-user fa-2x color-indigo" aria-hidden="true"></i></div> 
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">PIC</div>
                                    <div class="item-input">
                                        <input type="text" name="pic2" id="pic2" value="" placeholder="" readonly=""/>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-calendar-check-o fa-2x color-indigo" aria-hidden="true"></i></div>
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">Due Date</div>
                                    <div class="item-input">
                                        <input type="text" name="duadate2" id="duedate2" value="" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-pencil-square-o fa-2x color-indigo" aria-hidden="true"></i></div> 
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">Keterangan</div>
                                    <div class="item-input">
                                        <textarea class="resizable" id="keterangan2" name="keterangan2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </form>                
                </ul>
            </div>

            <!--<p><a href="#" class="close-popup">Close popup</a></p>-->
            <p class="buttons-row">
                <a href="#" class="button button-big button-fill button-raised color-red close-popup">Batal</a>
                <a href="#" class="button button-big button-fill button-raised color-green" id="b_simpan_tambah">Simpan</a>
            </p>   

        </div>
    </div>

</div>