<div data-page="edit_notulen" class="page toolbar-fixed navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="link icon-only b_home"><i class="icon icon-back"></i></a></div>            
            <div class="center">Kokola E-Meeting &nbsp;&nbsp;&nbsp;<i class="fa fa-search" id="tampil_search_edit_notulen"></i></div>
            <div class="right"><a href="#" class="link open-panel icon-only">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
        </div>
    </div>
    <a id="b_tambah" href="#" class="floating-button color-red item-link"><i class="fa fa-pencil-square-o fa-2x"></i></a>

    <!-- Search Bar -->
    <form id="serach_edit_notulen" data-search-list=".list-block-search" data-search-in=".item-title, .pic, .duedate, .keterangan, .kategori" class="searchbar searchbar-init bg-lightblue" style="transition: all 0.3s ease-in-out;top: 0px;">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" id="search_edit_notulen"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel" style="display: block;" id="b_hapus_search_edit_notulen">Cancel</a>
    </form>

    <div class="page-content" style="padding-top: 55px;">  
        <div class="content-block-title" style="padding-top: 0px;">
            Topic Meeting                              
        </div>
        <div class="list-block accordion-list">
            <ul>
                <li class="accordion-item">
                    <a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title text_panjang txt_topic">Loading...</div>
                        </div></a>
                    <div class="accordion-item-content">
                        <!--detail-->
                        <div class="content-block" style="padding-left: 35px;">
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-user color-red" aria-hidden="true"></i>&nbsp;Lead
                                    <div class="row color-black border-lightgreen garis txt_lead">
                                        Nama Lead
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-calendar color-red" aria-hidden="true"></i>&nbsp;Date
                                    <div class="row color-black border-lightgreen garis txt_tgl">
                                        12 Oktober 2016
                                    </div>
                                </div>                           
                            </div>   
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-hourglass-half color-red" aria-hidden="true"></i>&nbsp;Times
                                    <div class="row color-black border-lightgreen garis txt_waktu">
                                        10.30 s/d 12.00
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-map-marker color-red" aria-hidden="true"></i>&nbsp;Place
                                    <div class="row color-black border-lightgreen garis txt_tempat">
                                        Gedung A
                                    </div>
                                </div>                           
                            </div>                          
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-briefcase color-red" aria-hidden="true"></i>&nbsp;Tools
                                    <div class="row color-black border-lightgreen garis txt_tools">
                                        Laptop dll
                                    </div>
                                </div>                           
                            </div>     
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-users color-red" aria-hidden="true"></i>&nbsp;Participants
                                    <div class="row color-black border-lightgreen garis" style="text-align: left;">
                                        <div class="content-block" id="id_anggota_m">
                                            -
                                        </div>                                
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-times color-red" aria-hidden="true"></i>&nbsp;Not present
                                    <div class="row color-black border-lightgreen garis" id="nama_anggota_tidak_hadir">
                                        -            
                                    </div>
                                    <input type="hidden" name="id_tdk_hadir" id="id_tdk_hadir">
                                </div>                           
                            </div>
                             <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-cc color-red" aria-hidden="true"></i>&nbsp;CC Notulen
                                    <div class="row color-black border-lightgreen garis" style="text-align: left;">
                                        <div class="content-block" id="cc_notulen">
                                            -
                                        </div>                                
                                    </div>
                                </div>                           
                            </div>
                            <div class="row" id="div_edit_hapus">
                                <div class="col-100 color-red"><i class="fa fa-pencil color-red" aria-hidden="true"></i>&nbsp;Options Meeting
                                    <!--<div class="row color-black border-lightgreen garis">-->                                  
                                    <div class="row">
                                        <div class="col-50">
                                            <a href="#" id="b_canceltopic" class="button button-raised button-fill color-deeporange ripple-red">Cancel Meeting</a>
                                        </div>
                                        <div class="col-50">
                                            <a href="#" id="b_edittopic" class="button button-raised button-fill color-green ripple-yellow">Edit Meeting</a>
                                        </div>
                                    </div>     
                                    <p>                                     
                                            <a href="#" id="b_absen" class="button button-raised button-fill color-blue ripple-red">Participants did not attend</a>                                       
                                    <p>  
                             
                                </div>                           
                            </div>
                        </div>
                        <!--end detail-->
                    </div>
                </li> 
            </ul>    
        </div> 

        <div class="content-block-title color-green" style="padding-top: 0px;margin-bottom:-20px;"><b>List Notulen </b></div>

        <!-- This block will be displayed if nothing found -->
        <div class="content-block searchbar-not-found">
            <div class="content-block-inner color-red">Nothing found</div>
        </div>

        <div class="list-block list-block-search searchbar-found">
            <ul id="div_rapat">

              

            </ul>
        </div> 

        <div class="content-block">
            <input type="hidden" id="id_cc_notulen">
            <p class="buttons-row">                
                 <a href='#' class='button button-fill color-brown' id='b_cc_notulen'>CC Notulen</a>
                 <a href="#" id="b_finish" class="button button-fill color-purple"><i class="fa fa-check-circle"></i>&nbsp;Finish</a>                
            </p>
        </div>

    </div>    

    <!-- tambah Popup -->
    <div class="popup popup-tambah">
        <div class="content-block">
            <p class="color-indigo">Form Add Notulen</p>
            <div class="list-block inputs-list">
                <ul>
                    <form id="f_tambah_sub_topic">
                        <input type="hidden" name="op" value="add_sub">
                        <input type="hidden" name="id_meet" class="id_meet_hidden">                        
                     
                         <li>
                            <div class="item-content">
                               Note                              
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                               <textarea class="resizable tiny" id="subtopic2" name="subtopic2"></textarea>                                
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-user fa-2x color-indigo" aria-hidden="true"></i></div> 
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">PIC</div>
                                    <div class="item-input">
                                        <input type="text" name="pic2" id="pic2" value="" placeholder="" readonly=""/>
                                        <input type="hidden" name="id_pic2" id="id_pic2" value="" placeholder="" readonly=""/>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-calendar-check-o fa-2x color-indigo" aria-hidden="true"></i></div>
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">Due Date</div>
                                    <div class="item-input">
                                        <input type="text" name="duadate2" id="duedate2" value="" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </li> 
                         <div class="content-block-title">Category</div>
                        <li>
                            <label class="label-radio item-content">
                                <!-- Checked by default -->
                                <input type="radio" name="kategori" value="repair" checked="checked">
                                <div class="item-media">
                                    <i class="icon icon-form-radio"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Repair</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-radio item-content">
                                <!-- Checked by default -->
                                <input type="radio" name="kategori" value="improve">
                                <div class="item-media">
                                    <i class="icon icon-form-radio"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Improve</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-radio item-content">
                                <!-- Checked by default -->
                                <input type="radio" name="kategori" value="innovate">
                                <div class="item-media">
                                    <i class="icon icon-form-radio"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Innovate</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-radio item-content">
                                <!-- Checked by default -->
                                <input type="radio" name="kategori" value="other">
                                <div class="item-media">
                                    <i class="icon icon-form-radio"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Other</div>
                                </div>
                            </label>
                        </li>
                        
                        <li style="display: none;">
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-pencil-square-o fa-2x color-indigo" aria-hidden="true"></i></div> 
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">Note</div>
                                    <div class="item-input">
                                        <textarea class="resizable" id="keterangan2" name="keterangan2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </form>                
                </ul>
            </div>

            <p class="buttons-row">
                <a href="#" class="button button-big button-fill button-raised color-red close-popup">Close</a>
                <a href="#" class="button button-big button-fill button-raised color-green" id="b_simpan_tambah">Save</a>
            </p>   

        </div>
    </div>

</div>