<div data-page="edit_subtopic" class="page toolbar-fixed navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="link icon-only b_ke_edit_notulen"><i class="icon icon-back"></i></a></div>
            <div class="center">Edit Notulen</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <div class="toolbar toolbar-bottom bg-green">
        <div class="toolbar-inner" id="b_simpan">
            <a></a>
            <a class="link"><i class="fa fa-save fa-lg"></i>&nbsp;SAVE</a>
            <a></a>
        </div>
    </div>    
    <div class="page-content">         
        <div class="content-block-title">Form Edit Notulen</div>
        <div class="list-block inputs-list">
            <ul>
                <form id="f_edit_subtopic">
                    <input type="hidden" name="op" value="edit_suptopic">
                    <input type="hidden" name="id_subtopic" class="id_subtopic_hidden">
                    <li>
                        <div class="item-content" style="padding-right: 10px;">
                            Note 
                        </div>
                    </li>
                    <li>
                        <div class="item-content" style="padding-right: 10px;">
                            <textarea class="resizable tiny" id="subtopic3" name="subtopic3"></textarea>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-user fa-2x color-indigo" aria-hidden="true"></i></div> 
                            <div class="item-inner"> 
                                <div class="item-title floating-label">PIC</div>
                                <div class="item-input">
                                    <input type="text" name="pic3" id="pic3" value="" placeholder="" readonly=""/>
                                    <input type="hidden" name="id_pic3" id="id_pic3" value="" placeholder="" readonly=""/>
                                </div>
                            </div>
                        </div>
                    </li> 
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-calendar-check-o fa-2x color-indigo" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Due Date</div>
                                <div class="item-input">
                                    <input type="text" name="duadate3" id="duedate3" value="" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </li> 
                             <div class="content-block-title">Category</div>
                        <li>
                            <label class="label-radio item-content">
                                <!-- Checked by default -->
                                <input type="radio" name="kategori" value="repair">
                                <div class="item-media">
                                    <i class="icon icon-form-radio"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Repair</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-radio item-content">
                                <!-- Checked by default -->
                                <input type="radio" name="kategori" value="improve">
                                <div class="item-media">
                                    <i class="icon icon-form-radio"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Improve</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-radio item-content">
                                <!-- Checked by default -->
                                <input type="radio" name="kategori" value="innovate">
                                <div class="item-media">
                                    <i class="icon icon-form-radio"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Innovate</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="label-radio item-content">
                                <!-- Checked by default -->
                                <input type="radio" name="kategori" value="other">
                                <div class="item-media">
                                    <i class="icon icon-form-radio"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Other</div>
                                </div>
                            </label>
                        </li>
                    <li style="display: none;">
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-pencil-square-o fa-2x color-indigo" aria-hidden="true"></i></div> 
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Note</div>
                                <div class="item-input">
                                    <textarea class="resizable" id="keterangan3" name="keterangan3"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </form>                
            </ul>
        </div>
    </div>    
   
</div>

