<div data-page="edit_anggota" class="page toolbar-fixed navbar-fixed">
  <div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="link icon-only b_ke_edit_notulen"><i class="icon icon-back"></i></a></div>
      <div class="center">Edit Meeting</div>
      <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
  </div>
<div class="toolbar toolbar-bottom bg-green">
    <div class="toolbar-inner" id="b_simpan">
      <a></a>
      <a class="link"><i class="fa fa-save fa-lg"></i>&nbsp;SAVE</a>
      <a></a>
    </div>
  </div>    
    <div class="page-content">         
        <div class="content-block-title">Form Edit Meeting</div>
        <div class="list-block inputs-list">
            <ul>
                <form id="f_edit_anggota">
                    <input type="hidden" name="op" value="add_anggota_V1.09">
                    <input type="hidden" name="id_meet" class="id_meet_hidden">
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-calendar fa-2x color-indigo" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Date</div>
                                <div class="item-input">
                                    <input type="text" name="tanggal" id="tanggal" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </li>                   
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-plus color-red b_tambah_tempat" aria-hidden="true"></i><i class="fa fa-map-marker fa-2x color-indigo b_tambah_tempat" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Place</div>
                                <div class="item-input">
                                    <input type="text" name="tempat" id="tempat" placeholder="" readonly=""/>
                                    <input type="hidden" name="id_tempat" id="id_tempat">
                                </div>
                            </div>
                        </div>
                    </li>
                      <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-hourglass-half fa-2x color-indigo" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Times</div>
                                <div class="item-input">
                                    <input type="text" name="waktu" id="waktu" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </li> 
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-file-text-o fa-2x color-indigo"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Topic</div>
                                <div class="item-input">
                                    <textarea class="resizable" id="topic" name="topic"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-briefcase fa-2x color-indigo"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Tools</div>
                                <div class="item-input">
                                    <textarea class="resizable" id="tools" name="tools"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout k_ang">
                        <div class="item-content swipeout-content">
                            <div class="item-media"><i class="fa fa-users fa-2x color-indigo"></i></div>
                            <div class="item-inner"> 
                                <!--<div class="item-title floating-label">Add Participants</div>-->
                                <!--<div class="item-input">-->
                                    <!--<textarea class="resizable" id="anggota" name="anggota" readonly=""></textarea>-->
                                     <div id="anggota_nw"><span class="color-gray">Add Participants</span></div>
                                    <input type="hidden" name="id_anggota" id="id_anggota">
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="bg-blue eb_sel_all">Select All</a>
                            <a href="#" class="bg-red eb_des_all">Deselect All</a>
                        </div>
                    </li>
                    <li style="display: none;">
                        <div class="item-content">
                            <div class="item-media"><i id="tambah_anggota" class="fa fa-user-plus fa-2x color-brown"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Add External Participants (E-mail)</div>
                                <div class="item-input">                                    
                                     <input type="email" name="anggota2[]" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </li>
                </form>                
            </ul>
        </div>
    </div>   
    
    <!-- tambah Popup -->
    <div class="popup popup-tambah_tempat">
        <div class="content-block">
            <p class="color-indigo">Form Add Place</p>
            <div class="list-block inputs-list">
                <ul>
                    <form id="f_tambah_tempat">
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-map-marker fa-2x color-indigo" aria-hidden="true"></i></div> 
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">Place</div>
                                    <div class="item-input">
                                        <input type="text" name="tempat_baru" id="tempat_baru" value="" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </li> 
                      
                    </form>                
                </ul>
            </div>

            <p class="buttons-row">
                <a href="#" class="button button-big button-fill button-raised color-red close-popup">Close</a>
                <a href="#" class="button button-big button-fill button-raised color-green" id="b_simpan_tambah_tempat">Save</a>
            </p>   

        </div>
    </div>
    
</div>
