<div data-page="kaizen" class="page toolbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="link icon-only b_home"><i class="icon icon-back"></i></a></div>
            <div class="center">Kaizen &nbsp;&nbsp;&nbsp;</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>  
    <!-- Floating Action Button -->
    <div id="div_filter_done_lead">
        <a href="#" class="floating-button color-red" id="filter_done_lead">
            <i class="fa fa-sort-amount-desc"></i>
        </a>
    </div>
<div class="page-content">    
       <div class="timeline timeline-horizontal col-50 tablet-20">
                        <!-- Timeline Item (Day) -->
                        <div class="timeline-item">
                            <div class="timeline-item-date">21 <small>DEC</small></div>
                            <div class="timeline-item-content">
                                <div class="timeline-item-inner">
                                    <div class="timeline-item-time">12:56</div>
                                    <div class="timeline-item-title">Title 1</div>
                                    <div class="timeline-item-subtitle">Subtitle 1</div>
                                    <div class="timeline-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                                </div>
                                <div class="timeline-item-inner">
                                    <div class="timeline-item-time">12:56</div>
                                    <div class="timeline-item-title">Title 1</div>
                                    <div class="timeline-item-subtitle">Subtitle 1</div>
                                    <div class="timeline-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                                </div>
                                <div class="timeline-item-inner">
                                    <div class="timeline-item-time">12:56</div>
                                    <div class="timeline-item-title">Title 1</div>
                                    <div class="timeline-item-subtitle">Subtitle 1</div>
                                    <div class="timeline-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                                </div>
                                <div class="timeline-item-inner">
                                    <div class="timeline-item-time">12:56</div>
                                    <div class="timeline-item-title">Title 1</div>
                                    <div class="timeline-item-subtitle">Subtitle 1</div>
                                    <div class="timeline-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                                </div>
                                ...
                                <div class="timeline-item-inner">
                                    <div class="timeline-item-time">14:45</div>
                                    <div class="timeline-item-text">Do something</div>
                                </div>
                                ...
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-item-date">22 <small>DEC</small></div>
                            <div class="timeline-item-content">Plain text goes here</div>
                        </div>
                        <!-- Timeline Item With Card -->
                        <div class="timeline-item">
                            <div class="timeline-item-date">23 <small>DEC</small></div>
                            <div class="timeline-item-content">
                                <div class="card">
                                    ...
                                </div>
                                ...
                            </div>
                        </div>
                        <!-- Timeline Item With List Block -->
                        <div class="timeline-item">
                            <div class="timeline-item-date">24 <small>DEC</small></div>
                            <div class="timeline-item-content">
                                <div class="list-block inset">
                                    <ul>
                                        ...
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-item-date">25 <small>DEC</small></div>
                            <div class="timeline-item-content">
                                <div class="timeline-item-time">11:11</div>
                                <div class="timeline-item-text">Task 1</div>
                                <div class="timeline-item-time">12:33</div>
                                <div class="timeline-item-text">Task 2</div>
                                ...
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-item-date">26 <small>DEC</small></div>
                            <div class="timeline-item-content">
                                <div class="timeline-item-inner">
                                    <div class="timeline-item-time">11:11</div>
                                    <div class="timeline-item-text">Task 1</div>
                                </div>
                                <div class="timeline-item-inner">
                                    <div class="timeline-item-time">12:33</div>
                                    <div class="timeline-item-text">Task 2</div>
                                </div>
                                ...
                            </div>
                        </div>
                    </div>
               
</div>

    <div class="popup filter-kaizen">
        <div class="content-block">
            <p>Filter Done</p>
            <form id="f_filter_kaizen">  
                <div class="list-block inputs-list">
                    <ul> 

                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-calendar-check-o fa-2x color-indigo" aria-hidden="true"></i></div>
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">Start Date</div>
                                    <div class="item-input">
                                        <input type="text" name="tgl_mulai_l" id="tgl_mulai_l" value="" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-calendar-check-o fa-2x color-indigo" aria-hidden="true"></i></div>
                                <div class="item-inner"> 
                                    <div class="item-title floating-label">End Date</div>
                                    <div class="item-input">
                                        <input type="text" name="tgl_akhir_l" id="tgl_akhir_l" value="" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </li> 

                    </ul>
                </div>
            </form> 
            <p class="buttons-row">
                <a href="#" class="button button-big button-fill button-raised color-red close-popup">Close</a>
                <a href="#" class="button button-big button-fill button-raised color-green" id="b_filer_kaizen">Search</a>
            </p>  
            <!--<p><a href="#" class="close-popup">Close popup</a></p>-->                
        </div>
    </div>

</div>
