<div data-page="lead" class="page toolbar-fixed navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="link icon-only b_home"><i class="icon icon-back"></i></a></div>
            <div class="center">Task Lead &nbsp;&nbsp;&nbsp;<i class="fa fa-search" id="tampil_search_t_lead"></i></div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>  
    <!-- Floating Action Button -->
    <div id="div_filter_done_lead">
    <a href="#" class="floating-button color-red" id="filter_done_lead">
        <i class="fa fa-sort-amount-desc"></i>
    </a>
    </div>
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a href="#tab8" class="active tab-link">To Do</a>
            <a href="#tab9" class="tab-link">Done</a>
            <a href="#tab10" class="tab-link">Revised</a>
            <a href="#tab11" class="tab-link">Closed</a>
        </div>
    </div>
    
    <!-- Search Bar -->
    <form id="kolom_search_t_lead" data-search-list=".list-block-search" data-search-in=".item-title, .item-after" class="searchbar searchbar-init bg-lightblue" style="transition: all 0.3s ease-in-out;top:45px;">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" id="search_t_lead"><a href="#" class="searchbar-clear"></a>
        </div><a href="#" class="searchbar-cancel button-fill" style="display: block;" id="b_hapus_search_t_lead">&nbsp;Cancel</a>
    </form> 
    
    <div class="tabs-swipeable-wrap">
        <div class="tabs">
            <div id="tab8" class="page-content tab active">            
                <div class="list-block list-block-search searchbar-found" style="margin:0;">                     
                    <ul id="div_lead_tab1">
                     
                        <li class="preloader" style="margin-top: 56px;"></li>
                       
                    </ul>
                </div>
            </div>
            <div id="tab9" class="page-content tab">
                 <div class="list-block list-block-search searchbar-found" style="margin:0;">                     
                    <ul id="div_lead_tab2">
                     
                        <li class="preloader" style="margin-top: 56px;"></li>
                       
                    </ul>
                </div>
            </div>
            <div id="tab10" class="page-content tab">
                <div class="list-block list-block-search searchbar-found" style="margin:0;">                     
                    <ul id="div_lead_tab3">
                     
                        <li class="preloader" style="margin-top: 56px;"></li>
                       
                    </ul>
                </div>
            </div>
            <div id="tab11" class="page-content tab pull-to-refresh-content">
                <!-- Default pull to refresh layer-->
    <div class="pull-to-refresh-layer">
      <div class="preloader" style="margin-top: 40px;"></div>
      <div class="pull-to-refresh-arrow"></div>
    </div>
                <div class="list-block list-block-search searchbar-found" style="margin:0;">
                     <div class="content-block-title" style="padding-top: 0px;">List Done 3 Months ago</div> 
                    <ul id="div_lead_tab4">
                     
                        <li class="preloader" style="margin-top: 56px;"></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
     <div class="popup filter-done-lead">
            <div class="content-block">
                <p>Filter Done</p>
                <form id="f_filter_history">  
                    <div class="list-block inputs-list">
                        <ul> 

                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="fa fa-calendar-check-o fa-2x color-indigo" aria-hidden="true"></i></div>
                                    <div class="item-inner"> 
                                        <div class="item-title floating-label">Start Date</div>
                                        <div class="item-input">
                                            <input type="text" name="tgl_mulai_l" id="tgl_mulai_l" value="" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="fa fa-calendar-check-o fa-2x color-indigo" aria-hidden="true"></i></div>
                                    <div class="item-inner"> 
                                        <div class="item-title floating-label">End Date</div>
                                        <div class="item-input">
                                            <input type="text" name="tgl_akhir_l" id="tgl_akhir_l" value="" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                            </li> 

                        </ul>
                    </div>
                </form> 
                <p class="buttons-row">
                    <a href="#" class="button button-big button-fill button-raised color-red close-popup">Close</a>
                    <a href="#" class="button button-big button-fill button-raised color-green" id="b_filer_done_leead">Search</a>
                </p>  
                <!--<p><a href="#" class="close-popup">Close popup</a></p>-->                
            </div>
        </div>

</div>
