<div data-page="upload_pic" class="page toolbar-fixed navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" id="b_back" class="link icon-only"><i class="icon icon-back"></i></a></div>
            <div class="center">Upload PIC</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <div class="toolbar toolbar-bottom bg-green">
        <div class="toolbar-inner" id="b_simpan_upload_pic">
            <a></a>
            <a class="link"><i class="fa fa-flag-checkered fa-lg"></i>&nbsp;Finish</a>
            <a></a>
        </div>
    </div>    
    <div class="page-content">         

        <div class="content-block-title" style="padding-top: 0px;">Task Meeting</div>
        <div class="list-block accordion-list">
            <ul>
                <li class="accordion-item">
                    <a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title text_panjang txt_subtopic">Loading...</div>
                        </div></a>
                    <div class="accordion-item-content">
                        <!--detail-->
                        <div class="content-block" style="padding-left: 35px;">
                            <div class="row">
                                <div class="col-100 color-indigo"><i class="fa fa-user color-indigo" aria-hidden="true"></i>&nbsp;Lead
                                    <div class="row color-black border-lightgreen garis txt_nama_lead">
                                        Nama Lead
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-100 color-indigo"><i class="fa fa-calendar color-indigo" aria-hidden="true"></i>&nbsp;Date
                                    <div class="row color-black border-lightgreen garis txt_tgl_meet">
                                        Kamis, 12 Oktober 2016
                                    </div>
                                </div>                           
                            </div>   
                            <div class="row">
                                <div class="col-100 color-indigo"><i class="fa fa-hourglass-half color-indigo" aria-hidden="true"></i>&nbsp;Time
                                    <div class="row color-black border-lightgreen garis txt_waktu_meet">
                                        10.30 s/d 12.00
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-100 color-indigo"><i class="fa fa-map-marker color-indigo" aria-hidden="true"></i>&nbsp;Place
                                    <div class="row color-black border-lightgreen garis txt_tempat_meet">
                                        Gedung A
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-100 color-indigo"><i class="fa fa-file-text-o color-indigo" aria-hidden="true"></i>&nbsp;Topic
                                    <div class="row color-black border-lightgreen garis txt_topic_meet">
                                        Computer System Access Training
                                    </div>
                                </div>                           
                            </div>   
                            <div class="row">
                                <div class="col-100 color-indigo"><i class="fa fa-briefcase color-indigo" aria-hidden="true"></i>&nbsp;Tools
                                    <div class="row color-black border-lightgreen garis txt_tools_meet">
                                        Laptop dll
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-user color-red" aria-hidden="true"></i>&nbsp;PIC
                                    <div class="row color-black border-lightgreen garis txt_nama_pic">
                                        Nama PIC
                                    </div>
                                </div>                           
                            </div> 
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-calendar-check-o color-red" aria-hidden="true"></i>&nbsp;Due Date
                                    <div class="row color-black border-lightgreen garis txt_ddate">
                                        Kamis, 14 Oktober 2016
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-100 color-red"><i class="fa fa-snowflake-o color-red" aria-hidden="true"></i>&nbsp;Category
                                    <div class="row color-black border-lightgreen garis kategori">
                                        
                                    </div>
                                </div>                           
                            </div>
                            <div class="row" style="display: none;">
                                <div class="col-100 color-red"><i class="fa fa-pencil-square-o color-red" aria-hidden="true"></i>&nbsp;Note
                                    <div class="row color-black border-lightgreen garis">
                                        -
                                    </div>
                                </div>                           
                            </div> 
                        </div>
                        <!--end detail-->
                    </div>
                </li> 
            </ul>    
        </div>

        <div class="content-block-title" style="padding-top: 0px;">Form Upload PIC</div>
        <div class="list-block inputs-list">
            <ul>
                                   
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-pencil-square fa-2x color-indigo"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Note</div>
                                <div class="item-input">
                                    <textarea class="resizable" id="catatan" name="catatan"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                    <form id="f_upload_pic">
                        <input type="hidden" name="op" value="upload_pic">
                        <input type="hidden" name="sub_topic" class="id_subtopic_pic" value="">
                    <li>
                        <div class="item-content up_pic">
                            <div class="item-media"><i class="fa fa-upload fa-2x color-indigo"></i></div>
                            <div class="item-inner"> 
                                <input type="file" id="u_pic" name="u_pic">
                            </div>
                        </div>
                    </li>
                     </form> 
                    <li class="item-divider" id="tempat_list_file">List Files</li>
                    <div id="div_upload_pic">
                        
                    </div>
                    
                   
                              
            </ul>
             <div class="content-block" style="margin-top: 20px;margin-bottom: 15px;font-size: 12px;">
                <div class="row">                
                    <div class="col-100 peringatan">
                        <span class="color-green">*NB :<br/>The files that are more than 3 months will be deleted automatically.<br/>Please download your files before 3 months</span> 
                    </div>
                </div>
            </div>
            
        </div>
    </div>    
</div>
