<div data-page="user" class="page toolbar-fixed navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="link icon-only b_home"><i class="icon icon-back"></i></a></div>
            <div class="center">Profil</div>
            <div class="right"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <div class="toolbar toolbar-bottom bg-green">
        <div class="toolbar-inner" id="b_simpan_user">
            <a></a>
            <a class="link"><i class="fa fa-save fa-lg"></i>&nbsp;SAVE</a>
            <a></a>
        </div>
    </div>    
    <div class="page-content">         
        <div class="content-block-title">Form Edit Profil</div>
        <div class="list-block inputs-list">
            <ul>
                <form id="f_profil">
                    <input type="hidden" name="op" value="update">
                    <input type="hidden" name="id" class="id_user">
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-user fa-2x color-indigo" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Name</div>
                                <div class="item-input">
                                    <input type="text" name="nama" id="nama" value="" placeholder="" readonly=""/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-envelope-o fa-2x color-indigo" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">E-mail</div>
                                <div class="item-input">
                                    <input type="email" name="email" id="email" placeholder="" readonly=""/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-key fa-2x color-red" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Password</div>
                                <div class="item-input">
                                    <input type="password" name="old_pass" id="old_pass" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-key fa-2x color-indigo" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title floating-label">Retype Password</div>
                                <div class="item-input">
                                    <input type="password" name="new_pass" id="new_pass" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </li>  


                </form>                
            </ul>
        </div>

    </div>    
</div>

